[submodule "buildroot/buildroot"]
	path = buildroot/buildroot
	url = git://git.busybox.net/buildroot
[submodule "edison/create/edison-linux-helper"]
	path = edison/create/edison-linux-helper
	url = https://github.com/jubilinux/edison-linux-helper.git
[submodule "edison/create/gateway-private"]
	path = edison/create/gateway-private
	url = git@github.com:lab11/gateway-private
[submodule "edison/create/edison-u-boot"]
	path = edison/create/edison-u-boot
	url = https://github.com/andy-shev/u-boot.git
