[Unit]
Description=Bluetooth auto power on
After=bluetooth-patchram.service sys-subsystem-bluetooth-devices-hci%i.device

[Service]
Type=oneshot
ExecStart=/usr/bin/btmgmt --index %i power on

[Install]
WantedBy=bluetooth.target
