[Unit]
Description=Disable the Edison watchdog
Before=rc-local.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/echo 1 > /sys/devices/virtual/misc/watchdog/disable
ExecStop=/bin/echo 0 > /sys/devices/virtual/misc/watchdog/disable
ProtectHome=true

[Install]
WantedBy=multi-user.target
