[Unit]
Description=ble-gateway-mqtt-topics
After=bluetooth.target mosquitto.service

[Service]
ExecStart=/home/debian/gateway/software/ble-gateway-mqtt-topics/ble-gateway-mqtt-topics.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ble-gateway-mqtt-topics

[Install]
WantedBy=multi-user.target
