[Unit]
Description=ble-address-sniffer-publish
After=bluetooth.target mosquitto.service

[Service]
ExecStart=/home/debian/gateway/software/ble-address-sniffer-publish/ble-address-sniffer-publish.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ble-address-sniffer-publish

[Install]
WantedBy=multi-user.target
