[Unit]
Description=ble-gateway-publish
After=bluetooth.target mosquitto.service

[Service]
ExecStart=/home/debian/gateway/software/ble-gateway-publish/ble-gateway-publish.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ble-gateway-publish

[Install]
WantedBy=multi-user.target
