[Unit]
Description=Log gateway packets from MQTT to a text file.
After=mosquitto.service

[Service]
ExecStart=/home/debian/gateway/software/gateway-log/gateway-log.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gateway-log

[Install]
WantedBy=multi-user.target
