[Unit]
Description=Publish MQTT gateway packets to other mediums.
After=ble-gateway-mqtt.service

[Service]
ExecStart=/home/debian/gateway/software/gateway-internet-leds/gateway-internet-leds.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gateway-internet-leds

[Install]
WantedBy=multi-user.target
