[Unit]
Description=Publish gateway data to multiple topics.
After=bluetooth.target mosquitto.service

[Service]
ExecStart=/home/debian/gateway/software/gateway-mqtt-topics/gateway-mqtt-topics.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gateway-mqtt-topics

[Install]
WantedBy=multi-user.target
