[Unit]
Description=Publish Triumvi packets over BLE.
After=mosquitto.service

[Service]
ExecStart=/home/debian/gateway/software/gateway-triumvi-ble/gateway-triumvi-ble.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gateway-triumvi-ble

[Install]
WantedBy=multi-user.target
