[Unit]
Description=Publish Gateway Advertisements to Emoncms
After=bluetooth.target mosquitto.service

[Service]
ExecStart=/home/debian/gateway/software/gateway-mqtt-emoncms/gateway-mqtt-emoncms.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gateway-mqtt-emoncms

[Install]
WantedBy=multi-user.target
