[Unit]
Description=Connect LE910 cellular radio.

[Service]
RemainAfterExit=yes
ExecStart=/home/debian/gateway/startup/edison-v3-le910/le910_control.py start
ExecStop=/home/debian/gateway/startup/edison-v3-le910/le910_control.py stop
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=le910-connect

[Install]
WantedBy=multi-user.target
